$main-font: "EB Garamond", serif;
$main-color: #ffffff;
$text-color: #000000;
$button-focus-color: #0066ff;
$text-size-small: 24px;

body {
	padding: 0;
	margin: 0;
}

.flex-parent-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#wrapper {
	background-color: $main-color;
	height: 100vh;
	width: 100vw;

	#quote-box {
		background-color: $main-color;
		font-family: $main-font;
		color: $text-color;
		font-weight: bold;
		height: 85vh;
		width: 60vw;
		display: flex;
		align-items: stretch;
		justify-content: center;

		#quote-wrapper {
			padding: 60px 40px;
			border: solid 4px $text-color;

			#text {
				font-size: 40px;
				text-align: center;
				align-self: stretch;
				transition: content 1s;
			}

			#author {
				font-size: 24px;
				align-self: flex-end;
				padding: 10px 30px 0 0;
				transition: content 1s;
			}

			@media only screen and (max-width: 600px) {
				#text {
					font-size: $text-size-small
				}
				#author {
					font-size: $text-size-small / 5 * 3;
				}
			}
		}
		@media only screen and (max-width: 600px) {
			#quote-wrapper {
				padding: 17px 15px;
			}
		}

		#button-flex-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			flex-basis: 130px;
			font-family: "Libre Franklin", sans-serif;
			font-size: 30px;

			button:focus {
				outline: none;
			}

			#tweet-quote {
				height: 75px;
				width: 128px;
				border-radius: 50%;
				color: $main-color;
				background-color: $text-color;
				border: none;
				-webkit-transition: background-color 0.5s, color 0.5s;
				transition: background-color 0.5s, color 0.5s;
				align-self: flex-end;
				margin-right: 5px;
				font-size: 30px;
				text-align: center;
				line-height: 75px;
			}

			#tweet-quote:hover {
				background-color: $button-focus-color;
		    }

		    @media only screen and (max-width: 600px) {
		    	#tweet-quote {
		    		width: 83px;
		    		height: 50px;
		    		font-size: 20px;
		    		line-height: 50px;
		    	}
		    }

		    #new-quote {
		    	flex-basis: 57px;
		    	font-family: "Libre Franklin", sans-serif;
		    	font-size: 30px;
		    	width: 200px;
		    	color: $text-color;
		    	border: solid 4px $text-color;
		    	background-color: $main-color;
		    	-webkit-transition: border-color 0.5s, color 0.5s;
		    	transition: border-color 0.5s, color 0.5s;
		    	text-align: left;
		    }
		    #new-quote:hover {
		    	border-color: $button-focus-color;
		    	color: $button-focus-color;
		    }

		    #label {
		    	flex-basis: 35px;
		    }
		    @media only screen and (max-width: 600px) {
		    	#new-quote {
		    		flex-basis: 40px;
		    		width: 133px;
		    		font-size: 20px;
		    	}
		    	#label {
		    		font-size: 20px;
		    	}
		    }
		}
		@media only screen and (max-width: 600px) {
			#button-flex-container {
				flex-basis: 83px;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		#quote-box {
			width: 80vw;
		}
	}
}
